* {
  background-color: antiquewhite;
}

img {
  height: width 1500px;
  height: 200px;
}

.Jollof h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 25px;
}

.Jollof p {
  color: white;
  font-size: 15;
}

.WhiteRiceStew h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 25px;
}

.WhiteRiceStew p {
  color: white;
  font-size: 15;
}

.poundedyam h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 25px;
}

.poundedyam p {
  color: white;
  font-size: 15;
}

.PuffPuff h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 25px;
}

.PuffPuff p {
  color: white;
  font-size: 15;
}
